@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

* {
  font-family: "Mukta";
}
.columns {
  display: grid;
  grid-template-columns: auto auto; /* Divide el espacio en dos columnas de igual ancho */
  grid-gap: 20px; /* Espacio entre las columnas */
  justify-content: center; /* Centra horizontalmente las columnas */
  align-items: center; /* Centra verticalmente las columnas */
  height: 100vh;
}

.left-column {
  float: left;
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}
.button-group {
  margin: 10px ;
  display: flex;
  justify-content: center; /* Centra horizontalmente el botón */
}
.group label {
  margin-right: 0.7em;
}
.right-column {
  float: left;
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
